<style>
    th{
        text-align: center;
    }
</style>
<!--页面中心内容-->
<div class="col-sm-10">
    <!--页头-->
    <div class="page-header" style="margin-top: -20px;margin-bottom: 5px">
        <h1>数据简报</h1>
    </div>
    <!--标签页组件-->
    <div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="nickName">项目名称</label>
                                <input type="text" class="form-control" id="nickName" placeholder="请输入项目名称">
                            </div>
                            <button type="submit" class="btn btn-primary">搜索</button>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">

                            <table id="itemList"></table>
                            <div id="pager"></div>
                            <div id="t_itemList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/pdfjs/build/pdf.js"></script>
<script>
    $(function () {
        //初始化表格
        itemListLoad();
    })

    function itemListLoad() {
        $("#itemList").jqGrid({
            styleUI: "Bootstrap",   //用来指定jqgrid的主题样式 固定写死必须是Bootstrap
            url: "/monitor/bulletin/findAll",    //用来远程获取数据地址  json格式类型 [{"id":"1","name":"张三"},{}]
            datatype: "JSON",   //用来指定服务返回的数据类型  默认是:xml 修改为:json
            autowidth: true,    //自适应父容器
            caption: "项目列表",    //用来指定表格的标题
            hidegrid: false,    //用来控制在使用标题情况下是否显示折叠按钮
            height:500,     //指定高度
            colNames: ["编号", "标题", "操作"],    //用来指定表格中标题列的名称  colNames 和 colModel 必须成对出现  长度一致
            colModel: [
                {name: "bulletinId", align: "center", editable: true,search:false,
                    formatter:function(cellvalue, options, rowObject){
                        return '<span type="" value=\''+rowObject.bulletinId+'\'/>'
                    }},
                {name: "eventTitle", align: "center", editable: true},
                {name:"caozuo",align:"center", editable: false,search:false,
                    formatter:function(cellvalue, options, rowObject){
                        //console.log(rowObject.userId);
                        return '<a class="btn btn-danger" onclick="createBulletin(\''+rowObject.bulletinId+'\',\''+rowObject.monitorId+'\',\''+rowObject.eventId+'\')">生成报告</a>' +
                            '<a class="btn btn-success" onclick="showBulletin(\''+rowObject.bulletinId+'\',\''+rowObject.monitorId+'\',\''+rowObject.eventId+'\')">查看报告</a>'
                    }}
            ],
            toolbar : [true,"top"],
            multiselect : true,
            pager: "#pager",    //用来指定分页工具栏标签的id
            rowNum: 10,  //用来指定每页显示记录数
            rowList: [5, 10, 15, 20],  //用来指定下拉列表中每页显示条数
            viewrecords: true , //用来显示总记录数
        });

        $("#t_itemList")
            .append("<button class='btn btn-default btn-xs' id='createReport' >一键生成报告</button>" +
                "<button class='btn btn-default btn-xs' id='allCheck' >全选</button>"
                // "<input type='checkbox' class='btn btn-default btn-xs' id='checkboxAll' />"
            );
        $("#createReport", "#t_itemList").click(function() {
            alert("Hi! I'm added button at this toolbar of top");
        });
        $("#allCheck", "#t_itemList").click(function() {
            alert("Hi! I'm added button at this toolbar of top");
        });



    }

    function createBulletin(bulletinId,monitorId,eventId) {
        $.ajax({
            url : "/monitor/bulletin/create",    //后台controller中的请求路径
            type : 'POST',
            data:{
                bulletinId: bulletinId,
                monitorId: monitorId,
                eventId: eventId
            },
            datatype : 'json',
            success : function(res) {
                if(res.success){
                    swal(res.msg,'','success');
                }else{
                    swal(res.msg,'','error');
                }
            },
            error : function() {
                swal('监测出错','','error');
            }
        });

    }

    function showBulletin() {
        // let filePath= "PDFDemo.pdf";
        // window.location.href = "/assets/pdfjs/web/viewer.html?file=file.pdf";
        // window.open("assets/pdfjs/web/viewer.html?file=../PDFDemo.pdf");
        // $.ajax({
        //     url : "/monitor/bulletin/show",    //后台controller中的请求路径
        //     type : 'GET',
        //     data:{
        //         bulletinId: bulletinId,
        //         monitorId: monitorId,
        //         eventId: eventId
        //     },
        //     datatype : 'json',
        //     success : function(res) {
        //         if(res.success){
        //             swal(res.msg,'','success');
        //         }else{
        //             swal(res.msg,'','error');
        //         }
        //     },
        //     error : function() {
        //         swal('监测出错','','error');
        //     }
        // });
        let curWwwPath=window.document.location.href;
        let pathName=window.document.location.pathname;
        let pos=curWwwPath.indexOf(pathName);
        let localhostPath=curWwwPath.substring(0,pos);
        window.open(localhostPath+"/assets/pdfjs/web/viewer.html?file="+"D:\\IdeaProjects3\\github\\v\\src\\main\\resources\\temp\\GJDPKhCbJ2ebrPb.pdf");

    }
</script>