<style>
    th{
        text-align: center;
    }
</style>
<!--页面中心内容-->
<div class="col-sm-10">
    <!--页头-->
    <div class="page-header" style="margin-top: -20px;margin-bottom: 5px">
        <h1>图表分析</h1>
    </div>
    <!--标签页组件-->
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">图表展示</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
<!--                <div id="main" style="height:500px;"></div>-->
<!--                <div id="pieChart" style="height:500px;"></div>-->
                <div class="panel-body text-center">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="monitorId">项目选择：</label>
                            <select class="selectpicker" id="monitorId" name="monitorId" ></select>
                        </div>
                    </form>
                </div>
                <!--数据分析-->
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-send"></span> 数据分析</div>
                    <div class="panel-body" style=" height: 300px;">
                        <div id="container-line" style="height: 100%"></div>
                    </div>
                </div>
                <!--媒体分析-->
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-send"></span> 媒体分析</div>
                    <div class="panel-body" style=" height: 300px;">
                        <div id="container-pie" style="height: 100%"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        //页面加载折线图
        // histogramEcharts();
        //页面加载饼状图
        pieECharts();
        $('.selectpicker').selectpicker({
            noneSelectedText : '请选择'    //默认显示内容
        });
        //初始化刷新数据
        $(window).on('load', function() {
            $('.selectpicker').selectpicker('val', '');
            $('.selectpicker').selectpicker('refresh');
        });
        loadParkdata();    //执行此函数，从后台获取数据，拼接成option标签，添加到select的里面
    });

    function loadParkdata(){
        $.ajax({
            url : "/monitor/item/listpark",    //后台controller中的请求路径
            type : 'GET',
            async : false,
            datatype : 'json',
            success : function(res) {
                if(res.success){
                    const data = res.data;
                    const parknames = $("#monitorId");
                    for(let i=0; i< data.length; i++ ){
                        let parkdata = data[i];
                        //拼接成多个<option><option/>
                        parknames.append('<option value="'+parkdata.monitorId+'">'+parkdata.monitorName+'</option>')
                    }
                    $('.selectpicker').selectpicker('val', '');
                    $('.selectpicker').selectpicker('refresh');
                }
            },
            error : function() {
                alert('查询名称出错');
            }
        });
    }

    $("#monitorId").on("change",function () {

        for(let i=0; i< 10; i++ ) {
            const monitorId = $('#monitorId').val();
            if(monitorId != null || monitorId != ""){
                histogramEcharts(monitorId);
                $('.selectpicker').selectpicker('refresh');
            }
        }

    })

    function pieECharts(){

        let textData = ['新闻网站', '微博', '贴吧', '论坛', '今日头条','知乎','微信公众号','其他']
        let seriesData = new Array();

        $.ajax({
            url : "/chart/pie",    //后台controller中的请求路径
            type : 'GET',
            datatype : 'json',
            success : function(res) {
                if(res.success){
                    // debugger;
                    const countList = res.countList;
                    for(let i=0; i< countList.length; i++ ){
                        let data = {};
                        let map = countList[i];
                        for (let key in map){
                            data.value =  map[key];
                            data.name = key;
                        }
                        seriesData.push(data);
                    }
                    let dom = document.getElementById("container-pie");
                    let myChart = echarts.init(dom);

                    let option = {
                        title: {
                            text: '数据媒体来源图',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c} ({d}%)'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left',
                            data: textData
                        },
                        series: [
                            {
                                name: '媒体来源',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '60%'],
                                data: seriesData,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    myChart.setOption(option);
                }
            }
        });
    }

    function histogramEcharts(monitorId) {
        let xData = new Array();
        let seriesData = new Array();
        $.ajax({
            url : "/chart/histogram?monitorId="+monitorId,    //后台controller中的请求路径
            type : 'GET',
            datatype : 'json',
            success : function(res) {
                if(res.success){
                    const dateList = res.dateList;
                    for(let i=0; i< dateList.length; i++ ){
                        xData.push(dateList[i])
                    }
                    const countList = res.countList
                    for(let i=0; i< countList.length; i++ ){
                        seriesData.push(countList[i])
                    }
                    // 基于准备好的dom，初始化echarts实例
                    let myChart = echarts.init(document.getElementById('container-line'));

                    // 指定图表的配置项和数据
                    let option = {
                        title: {
                            text: '数据走势图',
                            left: 'center'
                        },
                        tooltip:{
                            trigger: 'axis',
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        toolbox: {
                            feature: {
                                saveAsImage: {}
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: xData
                        },
                        yAxis: {type: 'value'},
                        series: [{
                            type: 'line',
                            smooth: true,
                            data: seriesData
                        }]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                }
            }
        });
    }


</script>