<style>
    th{
        text-align: center;
    }
</style>
<!--页面中心内容-->
<div class="col-sm-10">
    <!--页头-->
    <div class="page-header" style="margin-top: -20px;margin-bottom: 5px">
        <h1>图表分析</h1>
    </div>
    <!--标签页组件-->
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">图表展示</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
<!--                <div id="main" style="height:500px;"></div>-->
<!--                <div id="pieChart" style="height:500px;"></div>-->
                <!--数据分析-->
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-send"></span> 数据分析</div>
                    <div class="panel-body" style=" height: 300px;">
                        <div id="container-line" style="height: 100%"></div>
                    </div>
                </div>
                <!--媒体分析-->
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-send"></span> 媒体分析</div>
                    <div class="panel-body" style=" height: 300px;">
                        <div id="container-pie" style="height: 100%"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        //页面加载折线图
        // histogramEcharts();
        //页面加载饼状图
        pieECharts();
    });

    function pieECharts(){

        let textData = ['新闻网站', '微博', '贴吧', '论坛', '今日头条','知乎','微信公众号','其他']
        let seriesData = new Array();

        $.ajax({
            url : "/chart/pie",    //后台controller中的请求路径
            type : 'GET',
            datatype : 'json',
            success : function(res) {
                if(res.success){
                    // debugger;
                    const countList = res.countList;
                    for(let i=0; i< countList.length; i++ ){
                        let data = {};
                        let map = countList[i];
                        for (let key in map){
                            data.value =  map[key];
                            data.name = key;
                        }
                        seriesData.push(data);
                    }
                    let dom = document.getElementById("container-pie");
                    let myChart = echarts.init(dom);

                    let option = {
                        title: {
                            text: '数据媒体来源图',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c} ({d}%)'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left',
                            data: textData
                        },
                        series: [
                            {
                                name: '媒体来源',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '60%'],
                                data: seriesData,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    myChart.setOption(option);
                }
            }
        });
    }

    function histogramEcharts() {
        let xData = new Array();
        let seriesData = new Array();
        $.ajax({
            url : "/chart/histogram",    //后台controller中的请求路径
            type : 'GET',
            datatype : 'json',
            success : function(res) {
                if(res.success){
                    const dateList = res.dateList;
                    for(let i=0; i< dateList.length; i++ ){
                        xData.push(dateList[i])
                    }
                    const countList = res.countList
                    for(let i=0; i< countList.length; i++ ){
                        seriesData.push(countList[i])
                    }
                    // 基于准备好的dom，初始化echarts实例
                    let myChart = echarts.init(document.getElementById('main'));

                    // 指定图表的配置项和数据
                    let option = {
                        title: {
                            text: '时间数量图',
                            left: 'center'
                        },
                        tooltip:{
                            trigger: 'axis',
                            formatter: function (params) {
                                params = params[0];
                                var date = new Date(params.name);
                                return date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate() ;
                            },
                            axisPointer: {
                                animation: false
                            }
                        },
                        xAxis: {
                            type: 'category',
                            data: xData
                        },
                        yAxis: {type: 'value'},
                        series: [{
                            type: 'line',
                            data: seriesData
                        }]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                }
            }
        });
    }

    // let xData = ['2020-05-21','2020-05-26','2020-06-16','2020-06-26','2020-07-06','2020-07-26','2020-08-06','2020-08-16','2020-08-26'];
    //
    // let seriesData = [5, 20, 36, 10, 10, 20, 15, 25, 30];
    //
    // // 基于准备好的dom，初始化echarts实例
    // let myChart = echarts.init(document.getElementById('main'));
    //
    // // 指定图表的配置项和数据
    // let option = {
    //     xAxis: {
    //         data: xData
    //     },
    //     yAxis: {},
    //     series: [{
    //         name: '销量',
    //         type: 'bar',
    //         data: seriesData
    //     }]
    // };
    //
    // // 使用刚指定的配置项和数据显示图表。
    // myChart.setOption(option);


</script>