<style>
    th{
        text-align: center;
    }
</style>
<!--页面中心内容-->
<div class="col-sm-10">
    <!--页头-->
    <div class="page-header" style="margin-top: -20px;margin-bottom: 5px">
        <h1>图表分析</h1>
    </div>
    <!--标签页组件-->
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">柱状图</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">折线图</a></li>
            <li role="presentation"><a href="#bin" aria-controls="bin" role="tab" data-toggle="tab">饼状图</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div id="main" style="width: 600px;height:400px;"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">折线图</div>
            <div role="tabpanel" class="tab-pane" id="bin">饼状图</div>
        </div>
    </div>
</div>
<script>
    // 基于准备好的dom，初始化echarts实例
    const myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    const option = {
        title: {
            text: '未来一周气温变化'
        },
        tooltip: {},
        legend: {},
        toolbox: {},
        xAxis: [{
            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
        }],
        yAxis: { },
        series: [{
            name: '最高气温',
            type: 'line',
            data: [11, 11, 15, 13, 12, 13, 10]
        },
            {
                name: '最低气温',
                type: 'line',
                data: [1, -2, 2, 5, 3, 2, 0]
            }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    //默认是合并原数据，加上true表示不合并配置，否则原数据依然存在图表上
    //myChart.setOption(option, true);　

</script>