<style>
    th{
        text-align: center;
    }
</style>
<!--页面中心内容-->
<div class="col-sm-10" xmlns:th="http://www.thymeleaf.org">
    <!--页头-->
    <div class="page-header" style="margin-top: -20px;margin-bottom: 5px" th:value="${session.currentUser.getEmail()}">
        <h1>查看项目</h1>
    </div>
    <!--标签页组件-->
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">项目列表</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">数据列表</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="panel panel-default">
                    <!--<div class="panel-body text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="nickName">项目名称</label>
                                <input type="text" class="form-control" id="nickName" placeholder="请输入项目名称">
                            </div>
                            <button type="submit" class="btn btn-primary">搜索</button>
                        </form>
                    </div>-->
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <table id="itemList"></table>
                            <div id="pager"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile" >
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="monitorId">项目选择：</label>
                                <select class="selectpicker" id="monitorId" name="monitorId" ></select>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <table id="eventList"></table>
                            <div id="eventPager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- loading -->
<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                请稍候。。。<span id="result"></span>
            </div>
        </div>
    </div>
</div>
<script >

    $(function () {
        //初始化表格
        itemListLoad();

        $('.selectpicker').selectpicker({
            noneSelectedText : '请选择'    //默认显示内容
        });
        //初始化刷新数据
        $(window).on('load', function() {
            $('.selectpicker').selectpicker('val', '');
            $('.selectpicker').selectpicker('refresh');
        });
        loadParkdata();    //执行此函数，从后台获取数据，拼接成option标签，添加到select的里面
    });


    $("#monitorId").on("change",function () {

        for(let i=0; i< 10; i++ ) {
            const monitorId = $('#monitorId').val();
            eventListLoad(monitorId);
            $('.selectpicker').selectpicker('refresh');
        }

    })


    function loadParkdata(){
        $.ajax({
            url : "/monitor/item/listpark",    //后台controller中的请求路径
            type : 'GET',
            async : false,
            datatype : 'json',
            success : function(res) {
                if(res.success){
                    const data = res.data;
                    const parknames = $("#monitorId");
                    for(let i=0; i< data.length; i++ ){
                        let parkdata = data[i];
                        //拼接成多个<option><option/>
                        parknames.append('<option value="'+parkdata.monitorId+'">'+parkdata.monitorName+'</option>')
                    }
                    $('.selectpicker').selectpicker('val', '');
                    $('.selectpicker').selectpicker('refresh');
                }
            },
            error : function() {
                alert('查询名称出错');
            }
        });
    }


    function itemListLoad() {
        $("#itemList").jqGrid({
            styleUI: "Bootstrap",   //用来指定jqgrid的主题样式 固定写死必须是Bootstrap
            url: "/monitor/item/findAll",    //用来远程获取数据地址  json格式类型 [{"id":"1","name":"张三"},{}]
            datatype: "JSON",   //用来指定服务返回的数据类型  默认是:xml 修改为:json
            autowidth: true,    //自适应父容器
            caption: "项目列表",    //用来指定表格的标题
            hidegrid: false,    //用来控制在使用标题情况下是否显示折叠按钮
            height:500,     //指定高度
            colNames: ["编号", "项目名称", "关键词",  "备注", "创建时间","创建人","操作"],    //用来指定表格中标题列的名称  colNames 和 colModel 必须成对出现  长度一致
            colModel: [
                {name: "monitorId", align: "center", editable: true, hidden: true,search:false},
                {name: "monitorName", align: "center", editable: true},
                {name: "keywords", align: "center", editable: true},
                {name: "remark", align: "center", editable: true},
                {name: "createDate", align: "center", editable: true},
                {name: "userName", align: "center", editable: true},
                {name:"caozuo",align:"center", editable: false,search:false,
                    formatter:function(cellvalue, options, rowObject){
                        //console.log(rowObject.userId);
                        return '<a class="btn btn-danger" onclick="startMonitor(\''+rowObject.monitorId+'\')">开启监测</a>'
                    }}
            ],
            pager: "#pager",    //用来指定分页工具栏标签的id
            rowNum: 10,  //用来指定每页显示记录数
            rowList: [5, 10, 15, 20],  //用来指定下拉列表中每页显示条数
            viewrecords: true , //用来显示总记录数
        });
    }

    //开启监测
    function startMonitor(monitorId){
        $.ajax({
            url : "/spider/monitor",    //后台controller中的请求路径
            type : 'POST',
            data:{
                monitorId:monitorId
            },
            datatype : 'json',
            success : function(res) {
                //隐藏
                $('#loading').modal('hide');

                if(res.success){
                    swal(res.msg,'','success');
                }else{
                    swal(res.msg,'','error');
                }
            },
            error : function() {
                swal('监测出错','','error');
            }
        });
        //显示
        $('#loading').modal('show');
    }



    function eventListLoad(monitorId) {


        $("#eventList").jqGrid('clearGridData');  //清空表格

        $("#eventList").jqGrid({
            styleUI: "Bootstrap",   //用来指定jqgrid的主题样式 固定写死必须是Bootstrap
            url: "/monitor/event/findAll?monitorId="+monitorId,    //用来远程获取数据地址  json格式类型 [{"id":"1","name":"张三"},{}]
            datatype: "JSON",   //用来指定服务返回的数据类型  默认是:xml 修改为:json
            autowidth: true,    //自适应父容器
            caption: "数据列表",    //用来指定表格的标题
            hidegrid: false,    //用来控制在使用标题情况下是否显示折叠按钮
            height:500,     //指定高度
            colNames: ["编号", "数据类型","标题", "事件发生时间",  "数据抓取时间", "是否加入简报","事件类型","是否预警","原文缓存"],    //用来指定表格中标题列的名称  colNames 和 colModel 必须成对出现  长度一致
            colModel: [
                {name: "eventId", align: "center", editable: true, hidden: true,search:false},
                {name: "siteTypeId", align: "center", editable: true,
                    formatter:function(cellvalue, options, rowObject){
                        let typeName = "其他";
                        switch (rowObject.siteTypeId) {
                            case 1:
                                typeName = "微博";
                                break;
                            case 2:
                                typeName = "百度贴吧";
                                break;
                            case 3:
                                typeName = "天涯论坛";
                                break;
                            case 4:
                                typeName = "新浪新闻";
                                break;
                            case 5:
                                typeName = "微信公众号";
                                break;
                            case 6:
                                typeName = "今日头条";
                                break;
                            case 7:
                                typeName = "知乎";
                                break;
                            case 8:
                                typeName = "搜狗新闻";
                                break;
                        }
                        return '<span>'+typeName+'</span>'
                    }},
                {name: "eventTitle", align: "center", editable: true,
                    formatter:function(cellvalue, options, rowObject){
                        return '<a href=\''+rowObject.eventUrl+'\' target="_blank">'+rowObject.eventTitle+'</a>'
                    }},
                {name: "eventDate", align: "center", editable: true},
                {name: "createDate", align: "center", editable: true},
                {name: "state", align: "center", editable: true,
                    formatter:function(cellvalue, options, rowObject){
                        let stateName = "未加入简报";
                        switch (rowObject.state){
                            case 0:
                                stateName = "未加入简报";
                                break;
                            case 1:
                                stateName = "已加入简报";
                                break;
                        }
                        return '<a class="btn btn-danger" onclick="joinBulletin(\''+rowObject.monitorId+'\',\''+rowObject.eventId+'\')">'+stateName+'</a>'
                    }},
                {name: "eventType", align: "center", editable: true,
                    formatter:function(cellvalue, options, rowObject){
                        let emotionalName = "中性";
                        switch (rowObject.eventType){
                            case -1:
                                emotionalName = "负面";
                                break;
                            case 0:
                                emotionalName = "中性";
                                break;
                            case 1:
                                emotionalName = "正面";
                                break;
                        }
                        return '<span>'+emotionalName+'</span>'
                    }},
                {name:"yujing",align:"center", editable: false,search:false,
                    formatter:function(cellvalue, options, rowObject){
                        //console.log(rowObject.userId);
                        return '<a class="btn btn-danger" onclick="emailWarn(\''+rowObject.eventId+'\',\''+rowObject.eventTitle+'\',\''+rowObject.eventUrl+'\')">预警</a>'
                    }},
                {name:"caozuo",align:"center", editable: false,search:false,
                    formatter:function(cellvalue, options, rowObject){
                        //console.log(rowObject.userId);
                        return '<a class="btn btn-danger" onclick="lookOriginal(\''+rowObject.eventContent+'\')">查看原文</a>'
                    }}
            ],
            pager: "#eventPager",    //用来指定分页工具栏标签的id
            rowNum: 10,  //用来指定每页显示记录数
            rowList: [5, 10, 15, 20],  //用来指定下拉列表中每页显示条数
            viewrecords: true , //用来显示总记录数
            jsonReader:{
                page: "page",
                root: "rows"
            },
            

        });

    }

    //邮件预警
    function emailWarn(eventId,eventTitle,eventUrl){

        let content = `
            <html><body><div>
                <p><h3>预警事件:</h3></p>
                <div style="color: red">
                    ${eventTitle}
                </div>
                <p><a href="${eventUrl}" >点击查看</a></p>
            </div></body></html>
        `
        $.ajax({
            url : "/email/html/single",    //后台controller中的请求路径
            type : 'POST',
            async : false,
            data : {
                accepter : $(".page-header").attr("value"),  //收件人邮箱
                // accepter: "cx525606@163.com",
                subject : "舆情监测预警提醒",   //邮件主题
                content : content,           //邮件内容
            },
            datatype : 'json',
            success : function(res) {
               if(res.success){
                   swal("邮件发送成功！","","success");
               }
            },
            error : function() {
                swal('邮件未能发出！请重试！',"","error");
            }
        });

    }

    //查看原文
    function lookOriginal(content) {
        $('#myLookModal').modal('show');
        $('.lookModal').html(content);
    }

    //加入简报
    function joinBulletin(monitorId,eventId) {
        $.ajax({
            url : "/monitor/bulletin/add",    //后台controller中的请求路径
            type : 'POST',
            data:{
                monitorId:monitorId,
                eventId:eventId
            },
            datatype : 'json',
            success : function(res) {
                if(res.success){
                    swal(res.msg,'','success');
                    // eventListLoad(monitorId);
                }else{
                    swal(res.msg,'','warning');
                }
            },
            error : function() {
                swal('加入出错','','error');
            }
        });
    }


</script>