<style>
    th{
        text-align: center;
    }
    .pwdInput{
        width: 25%;
    }
    .pwd-form{
        margin-left: 100px;
        margin-top: 10px;
    }
</style>
<!--页面中心内容-->
<div class="col-sm-10">
    <!--页头-->
    <div class="page-header" style="margin-top: -20px;margin-bottom: 5px">
        <h1>修改密码</h1>
    </div>
    <!--标签页组件-->
    <div>
        <form id="pwdFrom" class="pwd-form">
            <div class="form-group">
                <label for="oldPwd">原密码</label>
                <input type="password" class="form-control pwdInput" id="oldPwd" placeholder="请输入原密码">
            </div>
            <div class="form-group">
                <label for="newPwd1">新密码</label>
                <input type="password" class="form-control pwdInput" id="newPwd1" placeholder="请输入新密码">
            </div>
            <div class="form-group">
                <label for="newPwd2">再次输入新密码</label>
                <input type="password" class="form-control pwdInput" id="newPwd2" placeholder="请再一次输入新密码">
            </div>
            <button type="button" id = "confirmChangePwd" class="btn btn-primary">确认修改</button>
        </form>
    </div>
</div>
<script>
    //确认修改密码  判断新密码两次都是一样的  然后把原密码和新密码传到后台  进行修改
    $("#confirmChangePwd").click(function (){
        let oldPwd = $("#oldPwd").val();
        let newPwd1 = $("#newPwd1").val();
        let newPwd2 = $("#newPwd2").val();
        if(!oldPwd){
            swal("请输入原密码","","error");
        }else if(!newPwd1){
            swal("请输入新密码","","error");
        }else if(!newPwd2){
            swal("请再输入一次新密码","","error");
        }else{
            if(newPwd1 != newPwd2){
                swal("新密码输入错误，请重新输入新密码！","","error");
                $("#newPwd1").val("");
                $("#newPwd2").val("");
            }else{
                confirmChangePwd(oldPwd,newPwd1);
            }
        }
    });
    //提交修改密码请求
    function confirmChangePwd(oldPwd,newPwd){
        $.ajax({
            url:"/user/modifyPassword",
            type:'POST',
            data:{
                oldPassword:oldPwd ,
                newPassword:newPwd
            },
            dataType:"json",
            success:function (res) {
                if(res.success){
                    swal("密码修改成功","","success");
                    $("#oldPwd").val("");
                    $("#newPwd1").val("");
                    $("#newPwd2").val("");
                }else{
                    swal(res.msg,"","error");
                    $("#oldPwd").val("");
                    $("#newPwd1").val("");
                    $("#newPwd2").val("");
                }
            }
        })
    }
</script>