<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>舆情监控系统</title>
    <!--确保适当的绘制和触屏缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--title图标-->
    <link rel="shortcut icon" href="/assets/image/1.ico" type="image/x-icon">

    <!--引入bootstrap核心css-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!--引入jqgrid核心css-->
    <link rel="stylesheet" href="/assets/js/grid/ui.jqgrid-bootstrap.css">
    <!--引入alert弹框核心css-->
    <link rel="stylesheet" type="text/css" href="/assets/sweet/sweetalert.css"/>
    <!--引入bootstrap-select核心css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css"/>
    <!--引入jquery核心js-->
    <script src="/assets/js/jquery/jquery-3.4.1.min.js"></script>
    <!--引入jqgrid核心js-->
    <script src="/assets/js/grid/jquery.jqGrid.min.js"></script>
    <!--引入jqgrid国标化js-->
    <script src="/assets/js/grid/grid.locale-cn.js"></script>
    <!--引入bootstrap核心js-->
    <script src="/assets/js/boot/bootstrap.min.js"></script>
    <!--引入bootstrap-select核心js-->
    <script src="/assets/js/boot/bootstrap-select.min.js"></script>
    <!--引入Echarts核心js-->
<!--    <script src="/assets/echarts/echarts.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>

    <style type="text/css">
        .nav-link {
            font-size: 20px;
            color: #575757;
            padding: 15px 0 0 20px;
        }
        .nav-childlink {
            font-size: 16px;
            padding: 15px 0 0 25px;
        }
        .link-panel{
            background-color: #09d4ca42;
        }
    </style>

</head>
<body>
<!--导航条-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> 舆情监控系统 <span class="badge">V 1.0</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">欢迎：<span class="text-danger" th:text="${session.currentUser.nickName}"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户中心 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" data-target="#myUserModal">我的信息</a></li>
                        <li><a data-toggle="modal" data-target="#changePwdModal">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/exitLogin">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--页面主体内容-->
<div class="container-fluid" >
    <!--栅格系统-->
    <div class="row">
        <!--手风琴 菜单-->
        <div class="col-sm-2 " >
                <!--菜单样式1-->
<!--            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">-->
<!--                <div class="panel panel-primary leftMenu" th:each="menu : ${menus}">-->
<!--                    &lt;!&ndash; 利用data-target指定要折叠的分组列表 &ndash;&gt;-->
<!--                    <div class="panel-heading" id="headingOne" data-toggle="collapse" th:attr="data-target='#'+${menu.menuId}" role="tab" >-->
<!--                        <h4 class="panel-title">-->
<!--                            <span class="glyphicon glyphicon-apple" th:text="${menu.menuName}"></span>-->
<!--                        </h4>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 &ndash;&gt;-->
<!--                    <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">-->
<!--                        <div class="panel-body">-->
<!--                            <ul class="list-group" th:id="${menu.menuId}}">-->
<!--                                <li class="list-group-item" th:each="cmenu : ${menu.children}">-->
<!--                                    &lt;!&ndash; 利用data-target指定URL &ndash;&gt;-->
<!--                                    <a th:id="${cmenu.url}" onclick="load(this.id)" >-->
<!--                                        <span class="glyphicon glyphicon-triangle-right" th:text="${cmenu.menuName}"></span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>&lt;!&ndash;panel end&ndash;&gt;-->
<!--            </div>-->

            <!--菜单样式2-->
            <div class="nav-link link-panel" th:each="menu : ${menus}" role="tablist">
                <ul class="nav nav-pills nav-stacked ">
                    <li class="" role="presentation" id="">
                        <h5>
                            <!--动态指定data-target的值，可以实现折叠不同的父菜单-->
                            <a class="nav-link collapsed " data-toggle="collapse" id="monitorAdmin" th:attr="data-target='#'+${menu.menuId}" >
                                <span th:text="${menu.menuName}"></span><span  class="glyphicon glyphicon-menu-right glyphicon-text-size " style="font-size: 15px"></span></a>
                        </h5>

                        <div class="" id="listgroup"  role="tablist">
                            <ul class="nav nav-list nav-childlink collapse in" th:id="${menu.menuId}">
                                <li class="" role="presentation"  th:each="cmenu : ${menu.children}">
                                    <a  class="" th:id="${cmenu.url}"  onclick="load(this.id)" style="color:#8F9396 "><span th:text="${cmenu.menuName}">

                                    </span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>





        </div>
        <!--页面中心内容 需要替换 -->
        <div id="content">
            <div class="col-sm-10">
                <!--媒体分析-->
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-send"></span> 媒体分析</div>
                    <div class="panel-body" style=" height: 300px;">
                        <div id="container-pie" style="height: 100%"></div>
                    </div>
                </div>
                <!--数据分析-->
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> 数据分析</div>
                    <div class="panel-body" style=" height: 300px;">
                        <div id="container-line" style="height: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--我的信息模态框-->
<div class="modal fade" id="myUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">用户个人信息</h4>
            </div>
            <div class="modal-body">
                <form id="myUserFrom" class="form-horizontal">
                    <input type="hidden"  id="userId" th:value="${session.currentUser.userId}">
                    <div class="form-group">
                        <label for="nickName" class="col-sm-2 control-label">昵称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nickName" th:value="${session.currentUser.nickName}" placeholder="请输入昵称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userName" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userName" th:value="${session.currentUser.userName}" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cellPhone" class="col-sm-2 control-label">手机号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cellPhone" th:value="${session.currentUser.cellPhone}" placeholder="请输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" th:value="${session.currentUser.email}" placeholder="请输入邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company" class="col-sm-2 control-label">公司</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="company" th:value="${session.currentUser.company}" placeholder="请输入公司名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" id="remark" th:text="${session.currentUser.remark}"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id = "confirmChangeUser" class="btn btn-primary">确认修改</button>
                <button type="button" id = "cancelChangeUser" class="btn btn-default" data-dismiss="modal">取消修改</button>
            </div>
        </div>
    </div>
</div>

<!--修改密码模态框-->
<div class="modal fade" id="changePwdModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改用户密码</h4>
            </div>
            <div class="modal-body">
                <form id="pwdFrom">
                    <div class="form-group">
                        <label for="oldPwd">原密码</label>
                        <input type="password" class="form-control" id="oldPwd" placeholder="请输入原密码">
                    </div>
                    <div class="form-group">
                        <label for="newPwd1">新密码</label>
                        <input type="password" class="form-control" id="newPwd1" placeholder="请输入新密码">
                    </div>
                    <div class="form-group">
                        <label for="newPwd2">再次输入新密码</label>
                        <input type="password" class="form-control" id="newPwd2" placeholder="请再一次输入新密码">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id = "confirmChangePwd" class="btn btn-primary">确认修改</button>
                <button type="button" id = "cancelChangePwd" class="btn btn-default" data-dismiss="modal">取消修改</button>
            </div>
        </div>
    </div>
</div>

</body>
<!--引入alert弹框核心js-->
<script src="/assets/sweet/sweetalert-dev.js"></script>
<script type="text/javascript">

    $(function () {
        //初始化折线图
        sysLine();
        //初始化饼状图
        sysPie();
    });




    //取消修改密码  清空文本框信息
    $("#cancelChangePwd").click(function (){
        $("#oldPwd").val("");
        $("#newPwd1").val("");
        $("#newPwd2").val("");
    });
    //确认修改密码  判断新密码两次都是一样的  然后把原密码和新密码传到后台  进行修改
    $("#confirmChangePwd").click(function (){
        let oldPwd = $("#oldPwd").val();
        let newPwd1 = $("#newPwd1").val();
        let newPwd2 = $("#newPwd2").val();
        if(!oldPwd){
            swal("请输入原密码","","error");
        }else if(!newPwd1){
            swal("请输入新密码","","error");
        }else if(!newPwd2){
            swal("请再输入一次新密码","","error");
        }else{
            if(newPwd1 != newPwd2){
                swal("新密码输入错误，请重新输入新密码！","","error");
                $("#newPwd1").val("");
                $("#newPwd2").val("");
            }else{
                confirmChangePwd(oldPwd,newPwd1);
            }
        }
    });
    //提交修改密码请求
    function confirmChangePwd(oldPwd,newPwd){
        $.ajax({
            url:"/user/modifyPassword",
            type:'POST',
            data:{
                oldPassword:oldPwd ,
                newPassword:newPwd
            },
            dataType:"json",
            success:function (res) {
                if(res.success){
                    swal("密码修改成功","","success");
                    $("#oldPwd").val("");
                    $("#newPwd1").val("");
                    $("#newPwd2").val("");
                    $('#changePwdModal').modal('hide');
                }else{
                    swal(res.msg,"","error");
                    $("#oldPwd").val("");
                    $("#newPwd1").val("");
                    $("#newPwd2").val("");
                }
            }
        })
    }
    //加载页面
    function load(id){
        $("#content").load(id);
    }

    function sysPie(){
        let dom = document.getElementById("container-pie");
        let myChart = echarts.init(dom);
        let app = {};
        option = null;
        option = {
            title: {
                text: '数据媒体来源',
                subtext: '',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['新闻网站', '微博', '贴吧', '论坛', '今日头条','知乎','微信公众号','其他']
            },
            series: [
                {
                    name: '媒体来源',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [
                        {value: 335, name: '新闻网站'},
                        {value: 156, name: '微博'},
                        {value: 123, name: '贴吧'},
                        {value: 15, name: '论坛'},
                        {value: 20, name: '今日头条'},
                        {value: 348, name: '知乎'},
                        {value: 1548, name: '微信公众号'},
                        {value: 10, name: '其他'}
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    }

    function sysLine(){
        let dom = document.getElementById("container-line");
        let myChart = echarts.init(dom);
        let app = {};
        option = null;
        option = {
            title: {
                text: '舆情事件走势'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['当代舆情', '恒大舆情', '保利舆情', '龙湖舆情', '皖投舆情']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['2020-05-11','2020-05-12','2020-05-13','2020-05-14','2020-05-15','2020-05-16','2020-05-17']
            },
            yAxis: {
                type: 'value',
            },
            series: [
                {
                    name: '当代舆情',
                    type: 'line',
                    smooth: true,
                    data: [80, 120, 101, 134, 90, 110, 53]
                },
                {
                    name: '恒大舆情',
                    type: 'line',
                    smooth: true,
                    data: [34, 96, 120, 182, 191, 234, 310]
                },
                {
                    name: '保利舆情',
                    type: 'line',
                    smooth: true,
                    data: [150, 232, 201, 154, 190, 130, 210]
                },
                {
                    name: '龙湖舆情',
                    type: 'line',
                    smooth: true,
                    data: [120, 101, 130, 120, 157, 189, 167]
                },
                {
                    name: '皖投舆情',
                    type: 'line',
                    smooth: true,
                    data: [34, 92, 101, 134, 129, 133, 154,]
                }
            ]
        };

        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    }



</script>
</html>